<!DOCTYPE html>
<html>
<head>
  <title>Webpage</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="/styles/HC_other.css">
</head>
<body>
    <div class="container">
      <header id="header">
        <img src="./images/Sparkleclean.png" alt="Sparkleclean" width="25%">    
        <div id="menu">
          <form action="/" method="get"><button>Home</button></form>
          <form action="/services" method="get"><button type="submit">Services</button></form>
          <form action="/gallery" method="get"><button type="submit">Gallery</button></form>
          <form action="/about" method="get"><button type="submit">About Us</button></form>
          <form action="/contact" method="get"><button type="submit">Contact</button></form>
          <form action="/book" method="get"><button type="submit">Book</button></form>
        </div>  
      </header>
      <section class="body-section">
        <h3>
          Welcome to Sparkleclean - Your Trusted Home Cleaning Partner!
        </h3>
        <p>
          Our Story:
          <br><br>
          Founded in 2024, Sparkleclean started with a simple yet powerful vision: 
          to provide top-notch, reliable, and eco-friendly house cleaning services to homes in Rockville. 
          Our passion for cleanliness and attention to detail quickly earned us a reputation as one of the most trusted 
          cleaning services in the area.
          <br><br>
          Our Mission:
          <br><br>
          At Sparkleclean, our mission is clear - to make your life easier and your home sparkling clean! 
          We believe a clean home is a happy home, and our team is dedicated to providing a service that exceeds 
          your expectations at every turn.
          <br><br>
          What Sets Us Apart:
          <br><br>
          Professional and Experienced Team: Our cleaners are not only skilled but also undergo rigorous training and background checks, ensuring your peace of mind.
          <br><br>
          Customized Cleaning Plans: Understanding that every home is unique, we offer personalized cleaning plans tailored to your specific needs and preferences.
          <br><br>
          Eco-Friendly Approach: We are committed to the environment and use only eco-friendly and sustainable cleaning products, protecting your family's health.
          <br><br>
          100% Satisfaction Guarantee: Your satisfaction is our priority. If you're not completely happy with our service, we'll make it right - no questions asked.
          <br><br>
          Flexible Scheduling: We offer flexible scheduling options to fit your busy lifestyle, including weekly, bi-weekly, monthly, or one-time cleaning services.
          Meet Our Team
          <br><br>
          Our team is our biggest asset. From our dedicated cleaners to our friendly customer support staff, each member of our team is committed to providing exceptional service. 
          We take pride in our work and in making a positive difference in your life.
          <br><br>
          Our Promise to You:
          <br><br>
          At Sparkleclean, we don't just clean your house; we care for it as if it were our own. We promise to leave your home spotless, 
          allowing you to enjoy more free time with your loved ones in a fresh and clean environment.
          <br><br>
          Join Our Family
          <br>
          Ready for a sparkling clean home? Contact us today to schedule your first cleaning and become part of the 
          Sparkleclean family. We look forward to serving you!


        </p>
        
      </section>
      <footer>
        <div>
          <a href="#header"><img src="./images/Sparkleclean.png" alt="logo" width="10%"></a>
        </div>
      </footer>
  </div>
</body>
</html>