<!DOCTYPE html>
<html>
<head>
  <title>Webpage</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="/styles/HC_main.css">
</head>
<body>
  <div class="container">
    <header id="header">
      <img src="./images/Sparkleclean.png" alt="Sparkleclean" width="25%">    
      <div id="menu">
        <form action="/" method="get"><button>Home</button></form>
        <form action="/services" method="get"><button type="submit">Services</button></form>
        <form action="/gallery" method="get"><button type="submit">Gallery</button></form>
        <form action="/about" method="get"><button type="submit">About Us</button></form>
        <form action="/contact" method="get"><button type="submit">Contact</button></form>
        <form action="/book" method="get"><button type="submit">Book</button></form>
      </div>  
    </header>
    <section class="body-section">
      <div class="top-left">
        <p>simply dummy text of the printing and typesetting industry. 
          Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
          when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
          It has survived not only five centuries, but also the leap into electronic typesetting, remaining 
          essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem 
          Ipsum passages, and more recently with desktop publishing software like Aldus
          PageMaker including versions of Lorem Ipsum.
        </p>
      </div>
      <div class="top-right">
        <img src="./images/Bodyimg.png" alt="Body Image" width="60%">
      </div>
      <div class="bottom-left">
        <img src="./images/Bodyimg2.png" alt="Body Image" width="60%">
      </div>
      <div class="bottom-right">
        <p>simply dummy text of the printing and typesetting industry. 
          Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
          when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
          It has survived not only five centuries, but also the leap into electronic typesetting, remaining 
          essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem 
          Ipsum passages, and more recently with desktop publishing software like Aldus
          PageMaker including versions of Lorem Ipsum.
        </p>
      </div>
    </section>
    <footer>
      <div>
        <a href="#header"><img src="./images/Sparkleclean.png" alt="logo" width="10%"></a>
      </div>
    </footer>
  </div>
</body>
</html>