<!DOCTYPE html>
<html>
<head>
  <title>Webpage</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="/styles/HC_other.css">
</head>
<body>
    <div class="container">
    <header id="header">
      <img src="./images/Sparkleclean.png" alt="Sparkleclean" width="25%">    
      <div id="menu">
        <form action="/" method="get"><button>Home</button></form>
        <form action="/services" method="get"><button type="submit">Services</button></form>
        <form action="/gallery" method="get"><button type="submit">Gallery</button></form>
        <form action="/about" method="get"><button type="submit">About Us</button></form>
        <form action="/contact" method="get"><button type="submit">Contact</button></form>
        <form action="/book" method="get"><button type="submit">Book</button></form>
      </div>  
    </header>
    <section class="body-section">
    <h3>
      Our Services
    </h3>

    <div class="standard-tab">
      <div class="standard-img">
        <img src="./images/cleaning-supplies.jpg" width="350px">
      </div>
      <div class="standard-txt">
        <h3>
          Standard Cleaning
        </h3>
        <p>
          Ideal for regular house upkeep, this service includes dusting, vacuuming, sweeping, mopping, 
          cleaning bathrooms (toilets, showers, baths, mirrors), and kitchen surfaces.
        </p>
        <a href="./contact"><button class="contact-button">Contact Us</button></a>
      </div>
    </div>
    
    <div class="deep-tab">
      <div class="deep-txt">
        <h3>
          Deep Cleaning
        </h3>
        <p>
          A more extensive cleaning option, deep cleaning covers all areas covered in standard cleaning, 
          but with extra attention to details like inside cabinets, inside the refrigerator, oven cleaning, and under furniture.
        </p>
        <a href="./contact"><button class="contact-button">Contact Us</button></a>
      </div>
      <div class="deep-img">
        <img src="./images/vacuum.jpeg" width="350px">
      </div>
    </div>

    <div class="move-in-out-tab">
      <div class="in-out-img">
        <img src="./images/boxes.jpeg" width="350px">
      </div>
      <div class="in-out-txt">
        <h3>
          Move-In/Move-Out Cleaning
        </h3>
        <p>
          This service is perfect for those who are relocating. We ensure your new home is welcoming and your old home is 
          ready for its new occupants.
        </p>
        <a href="./contact"><button class="contact-button">Contact Us</button></a>
      </div>
    </div>

    <div class="seasonal-tab">
      <div class="seasonal-txt">
        <h3>
          Seasonal Cleaning
        </h3>
        <p>
          Ideal for spring cleaning or preparing for special events, this service involves a thorough cleaning of the entire house,
          including hard-to-reach areas.
        </p>
        <a href="./contact"><button class="contact-button">Contact Us</button></a>
      </div>
      <div class="seasonal-img">
        <img src="./images/home.jpeg" width="350px">
      </div>
    </div>

    <div class="custom-clean-tab">
      <div class="custom-img">
        <img src="./images/cleaning.jpeg" width="350px">
      </div>
      <div class="custom-txt">
        <h3>
          Custom Cleaning
        </h3>
        <p>
          We understand that every home is unique. Talk to us about your specific needs, and we'll create a tailored cleaning plan 
          just for you.
        </p>
        <a href="./contact"><button class="contact-button">Contact Us</button></a>
      </div>
    </div>
    </section>
    <footer>
      <div>
        <a href="#header"><img src="./images/Sparkleclean.png" alt="logo" width="10%"></a>
      </div>
    </footer>
  </div>
</body>
</html>